<div class="container">
    <ul class="nav nav-pills nav-justified">
        <li class="nav-item">
            <a class="nav-link" routerLink="/shophome" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-house"></i>
                    <span class="nav-text">Tienda</span>
                </span>
            </a>
        </li>
  
        <li class="nav-item center-item">
            <a class="nav-link" routerLink="/cart" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-bag"></i>
                    <span class="nav-text">Carrito</span>
                    <span class="countercart">3</span>
                </span>
            </a>
        </li>
   
        <li class="nav-item">
            <a class="nav-link" routerLink="/settings" routerLinkActive='active'>
                <span>
                    <i class="nav-icon bi bi-gear"></i>
                    <span class="nav-text">Mi cuenta</span>
                </span>
            </a>
        </li>
    </ul>
</div>